<a href="https://colab.research.google.com/github/Campocpe/CPE-009A-CPE12S2/blob/main/Copy_of_while_for_loop_CAMPO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

loop statement

In [ ]:
#example 1
week = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
for x in week:
 print(x)

sunday
monday
tuesday
wednesday
thursday
friday
saturday

In [ ]:
#example 2 (the break statement)
week = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
for x in week:
 print(x)
 if x == "thursday":
  break

sunday
monday
tuesday
wednesday
thursday

In [ ]:
#example 3 (the break statement)
week = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
for x in week:
 print(x)
 if x == "thursday":
  break
print (x)

sunday
monday
tuesday
wednesday
thursday
thursday

In [ ]:
#example 4 (looping through a string)
for x in "week":
 print(x)

w
e
e
k

In [ ]:
#The range() function
for x in range(6):
 print(x)
for x in range(2,6,2):
  print(x)

0
1
2
3
4
5
3
6

In [ ]:
#Nested loops
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#example 5

i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1

1
2
3
4
5

In [ ]:
#The break statement

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#The continue statement

i = 0
while i < 6:
  i += 1
  if i == 3:

    continue
  print(i)

1
2
4
5
6

In [ ]:
#The else statement

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
#exercise #1
#Plus 5 points midterm
greet = "hello"
x = 0
while i < 11:
  print("hello", i)
  x+= 1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [ ]:
#exercise #2
#Plus 5 points midterm
for x in range(3, 10):
  print (x)

3
4
5
6
7
8
9