<a href="https://colab.research.google.com/github/Campocpe/CPE-009A-CPE12S2/blob/main/PYTON_INTRO__CAMPO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [27]:
if 10 > 2:
  print ("10 is greater than 2")

10 is greater than 10

Python Comments

In [13]:
#this is a comment
#this is my name(very bad)
print ("CAMP RAM")

CAMP RAM

Variable Naming Conventions

In [34]:
size = 10
size_2 = 5
Size = 'very small lol'

print (size)
print (size_2)
print (Size)

10.0
5
very small lol

python variable

In [26]:
x = 1
a,b,c=1,2,3
b = "sally" #sally is a string
print (a,b,c)
print (b)

1 2 3
sally

Casting

In [32]:
b="polly" #this is a type of string
b=int(4)
print(b)

b=float (4)
print(b)

4
4.0

Type() function

In [33]:
x=5
y="john cena"
print(type(x))
print (type(y))

<class 'int'>
<class 'str'>

"doublequotes" or 'single' quote

In [ ]:
y = "johnny"
y = 'john doe'

Case sensitive

In [36]:
a = 4
A = "wally"
#A will not overwrite a
print (a)

4

Multiple variables

In [38]:
x,y,z = "uno", "dos", "tres"
print(x)
print(y)
print(z)

uno
dos
tres

One value to multiple variables

In [40]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [43]:
x = "enjoying"
print ("python programming is " + x)

python programming is enjoying

Other

In [45]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

arithmetic operations

In [72]:
#addition
x = 5
y = 3
print (x + y)

#subtraction
x = 5
y = 3
dif = x - y
print (dif)

#multiplication
x = 5
y = 3
pro = x * y
print (pro)

#division
x = 5
y = 3
quo = x / y
print (quo)

#Modulo
x = 5
y = 3
mod = x % y
print (mod)

#Exponential
x = 5
y = 3
exp = x ** y
print (exp)

#floor division
x = 5
y = 3
fquo = x // y
print (exp)

8
2
15
1.6666666666666667
2
125
125

assignment operators

In [70]:
(+)
s = 1
s += 3
print (s)

s = 1
s -= 3
print (s)

s = 1
s *= 3
print (s)

s = 1
s /= 3
print (s)

s = 1
s %= 3
print (s)

s = 1
s //= 3
print (s)

s = 1
s **= 3
print (s)

s = 1
s &= 3
print (s)

s = 1
s |= 3
print (s)

s = 1
s ^= 3
print (s)

s = 1
s >>= 3
print (s)

s = 1
s <<= 3
print (s)

4
-2
3
0.3333333333333333
1
0
1
1
3
2
0
8

comparisson operator

In [79]:
t = 6
u = 7

print (t==u) #Equal
print (t!=u) #Not equal
print (t>u)  #Greater than
print (t<u)  #Less than
print (t>=u) #Greater than or equal to
print (t<=u) #less than or equal to

False
True
False
True
False
True

Logical operator

In [85]:
t = 1
u = 2
print (t < 5 and u < 5) #and
print (t < 5 or u < 5) #or
print (t < 5 and not (u < 5)) #not

True
True
False

Identity operators

In [86]:
t = 1
u = 2

print (t is u )
print (t is not u )

False
True

bitwise operators

In [90]:
v = 2

print(v&1) # AND
print(v|3) # OR
print(v^1) # XOR
print(~v)  # NOT
print(v<<2)# Zero fill left shift
print(v>>1)# Signed right shift

0
3
3
-3
8
1